{% extends 'base_menu.html' %}

{% block content %}

<h1 class="display-4">Welcome to my Django project!</h1>
<p class="lead">This is index page, and I'll be progressively adding more apps and features as part of my ongoing practice.</p>

<div class="alert alert-info">
    In the 'Ads' app, you can:
    <ul>
        <li>Perform basic CRUD operations after registering.</li>
        <li>register users using conventional or social login (using google account)</li>
        <li>Mark ads as favorites or remove them from favorites.</li>
        <li>Search for specific ads.</li>
        <li>Access related ads by clicking on their tags.</li>
    </ul>
    I have tried to be a little bit test oriented and added some tests in tests.py file.
</div>

<div class="alert alert-info">
    In the 'Sentiment Analyzer' app, you can:
    <ul>
        <li>write in texts and let the AI decides if it is:</li>
        <ul>
            <li>Positive</li>
            <li>Negative</li>
            <li>Neutral</li>
        </ul>
    </ul>
    the app is tested thorughly and have rate limit of 8000 requests/month.
</div>

<div class="alert alert-info"> 
    in the 'Courses' app, you can: 
    <ul>
        <li>enroll in a course</li>
        <li>browse lessons(currently no further lesson details will be available)</li>
        <li>take unlimited tests and get your score with a feedback.</li>
    </ul>
    this app features need more testing currently.
</div>


<p>For more of my work, please visit my <a href='https://github.com/Hadi-Abedah2?tab=repositories' class="btn btn-primary" target="_blank" rel="noopener noreferrer">GitHub account</a>.</p>


{% endblock %}
