{% extends 'base_menu.html' %}

{% block content %}

<h1 class="display-4">Welcome to my Django project!</h1>
<p class="lead">This is index page, and I'll be progressively adding more apps and features as part of my ongoing practice.</p>

<div class="alert alert-info">
    In the 'Ads' app, you can:
    <ul>
        <li>Perform basic CRUD operations after registering.</li>
        <li>register users using conventional or social login (using google account)</li>
        <li>Mark ads as favorites or remove them from favorites.</li>
        <li>Search for specific ads.</li>
        <li>Access related ads by clicking on their tags.</li>
    </ul>
    I have tried to be a little bit test oriented and added some tests in tests.py file.
</div>

<p>For more of my work, please visit my <a href='https://github.com/Hadi-Abedah2?tab=repositories' class="btn btn-primary" target="_blank" rel="noopener noreferrer">GitHub account</a>.</p>


{% endblock %}
