.env
data.json
pipfile 
pipfile.lock
# Migration files
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# ignore the file counter set to limit the sentiment analysis calls 
sentiment/request_counter.json