.env
data.json
pipfile
pipfile.lock
# Migration files
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ignore the file counter
sentiment/request_counter.json