[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
crispy-bootstrap4 = "*"
django-filter = "*"
django-extensions = "*"
django-crispy-forms = "*"
django-taggit = "*"
django-widget-tweaks = "*"
django-allauth = {version = "*", extras = ["google"]}
python-decouple = "*"
psycopg2 = "*"
django-gravatar2 = "*"
requests = "*"
pillow = "*"
djangorestframework = "*"
drf-material = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11.6"
