<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .container-fluid {
        flex: 1;
    }
</style>
    
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container-fluid"> <!-- Changed to container-fluid for full width -->
            <div class="d-flex align-items-center"> 
                <span class="text-muted">Connect with me on:   </span>
                <a href="https://github.com/Hadi-Abedah2?tab=repositories" target="_blank" class="btn btn-outline-light btn-sm ml-2">
                    <i class="fab fa-github"></i>   GitHub
                </a>
                <a href="https://www.linkedin.com/in/hadi-abedah-ab533026b/" target="_blank" class="btn btn-outline-light btn-sm ml-2">
                    <i class="fab fa-linkedin-in"></i>   LinkedIn
                </a>
            </div>
        </div>
    </footer>
    